absl-py==2.1.0
accelerate==0.23.0
addict==2.4.0
aichar==0.5.1
aiofiles==23.2.1
aiohappyeyeballs==2.4.4
aiohttp==3.9.5
aiosignal==1.3.2
albumentations==1.3.0
altair==5.5.0
altgraph==0.17.4
annotated-types==0.7.0
antlr4-python3-runtime==4.8
anyio==3.7.1
appdirs==1.4.4
asgiref==3.8.1
asttokens==3.0.0
astunparse==1.6.3
async-timeout==4.0.3
attrs==23.2.0
audioread==3.0.1
backoff==2.2.1
basicsr==1.4.2
bcrypt==4.2.1
beautifulsoup4==4.12.2
blinker==1.9.0
build==1.2.2.post1
cachelib==0.13.0
cachetools==5.5.0
certifi==2024.12.14
cffi==1.16.0
charset-normalizer==3.4.0
chroma-hnswlib==0.7.3
chromadb==0.4.24
clean-fid==0.1.35
click==8.1.7
clip-anytorch==2.6.0
cloudpathlib==0.16.0
colorama==0.4.6
coloredlogs==15.0.1
compel
contourpy==1.3.1
controlnet-aux==0.0.6
coqpit==0.0.17
ctransformers==0.2.27
cycler==0.12.1
Cython==3.0.11
darkdetect==0.8.0
datefinder==0.7.3
decorator==5.1.1
Deprecated==1.2.15
deprecation==2.1.0
distro==1.9.0
dm-tree==0.1.8
docker-pycreds==0.4.0
durationpy==0.9
easygui==0.98.3
einops==0.3.0
exceptiongroup==1.2.2
executing==2.1.0
facexlib==0.2.5
fairscale==0.4.13
faiss-cpu==1.8.0.post1
fastapi==0.110.3
ffmpy==0.5.0
filelock==3.13.4
filterpy==1.4.5
Flask==3.1.0
Flask-Session==0.8.0
flatbuffers==24.3.25
fonttools==4.55.3
frozenlist==1.5.0
fsspec==2024.2.0
ftfy==6.1.3
future==0.18.3
gast==0.5.4
gdown==5.1.0
gfpgan==1.3.8
gitdb==4.0.11
GitPython==3.1.43
google-auth==2.37.0
google-pasta==0.2.0
gradio_client==0.5.0
greenlet==3.1.1
grpcio
grpcio-tools
h11==0.14.0
h5py==3.10.0
httpcore==1.0.7
httptools==0.6.4
httpx==0.27.2
huggingface-hub==0.25.1
humanfriendly==10.0
idna==3.10
imagecaptioner==0.4
imageio==2.36.1
importlib_metadata==8.5.0
importlib_resources==6.4.5
invisible-watermark==0.2.0
ipython==8.22.2
itsdangerous==2.2.0
jedi==0.19.2
jieba==0.42.1
Jinja2==3.1.4
joblib==1.4.2
jsonmerge==1.9.2
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
k-diffusion==0.0.12
keras==3.0.5
kiwisolver==1.4.7
kornia==0.6.0
kubernetes==31.0.0
langchain==0.3.1
langchain-community==0.3.1
langchain-core==0.3.8
langchain-text-splitters==0.3.0
langsmith==0.1.130
lark==1.1.9
lazy_loader==0.4
libclang==16.0.6
librosa==0.10.2.post1
llvmlite==0.42.0
lmdb==1.5.1
Markdown==3.4.4
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.4
matplotlib-inline==0.1.7
mdurl==0.1.2
ml-dtypes==0.3.2
mmh3==5.0.1
monotonic==1.6
mpmath==1.3.0
msgpack==1.0.8
msgspec==0.18.6
multidict==6.1.0
namex==0.0.7
narwhals==1.19.0
networkx==3.4.2
nltk==3.8.1
numba==0.59.1
oauthlib==3.2.2
omegaconf==2.1.1
onnx
onnxruntime==1.17.1
open-clip-torch==2.0.2
openai==1.13.4
opencv-python==4.6.0.66
opencv-python-headless==4.10.0.84
opentelemetry-api==1.29.0
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation==0.50b0
opentelemetry-instrumentation-asgi==0.50b0
opentelemetry-instrumentation-fastapi==0.50b0
opentelemetry-proto
opentelemetry-sdk==1.29.0
opentelemetry-semantic-conventions==0.50b0
opentelemetry-util-http==0.50b0
opt-einsum==3.3.0
optree==0.13.0
orjson==3.10.12
outcome==1.3.0.post0
overrides==7.7.0
packaging==23.2
param==2.2.0
parso==0.8.4
pefile==2023.2.7
peft==0.10.0
picklescan==0.0.18
piexif==1.1.3
pillow==10.4.0
platformdirs==4.2.2
pooch==1.8.2
posthog==3.7.4
prompt_toolkit==3.0.48
propcache==0.2.1
protobuf
psutil==5.9.8
pulsar-client==3.5.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pycurl==7.45.3
pydantic==2.9.2
pydantic-settings==2.5.2
pydantic_core==2.23.4
pyDeprecate==0.3.1
pydub==0.25.1
pyenv-win==3.1.1
Pygments==2.17.2
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2024.10
pyparsing==3.2.0
PyPika==0.48.9
pyproject_hooks==1.2.0
pyreadline3==3.5.4
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.20
pytorch-lightning
pytz==2023.4
PyWavelets==1.8.0
pywin32-ctypes==0.2.3
PyYAML==6.0.2
qudida==0.0.4
realesrgan==0.3.0
referencing==0.35.1
regex==2023.12.25
requests==2.31.0
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
resize-right==0.0.2
rich==13.7.1
rpds-py==0.22.3
rsa==4.9
ruff==0.8.4
safehttpx==0.1.6
safetensors==0.3.3
scikit-image==0.25.0
scikit-learn==1.3.2
scipy==1.11.4
sdkit==2.0.18
seaborn==0.13.2
selenium==4.19.0
semantic-version==2.10.0
sentence-transformers
sentencepiece==0.1.99
sentry-sdk==2.19.2
setproctitle==1.3.4
shellingham==1.5.4
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.5
soxr==0.5.0.post1
spaces==0.26.0
SQLAlchemy==2.0.36
stability-sdk==0.8.6
stable-diffusion-sdkit
stack-data==0.6.3
starlette==0.37.2
sympy==1.13.1
tb-nightly==2.19.0a20241219
tenacity==8.2.3
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow
tensorflow-intel==2.16.2
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
test-tube==0.7.5
tf_keras
threadpoolctl==3.5.0
tifffile==2024.12.12
tiktoken==0.4.0
timm==0.4.12
tokenizers==0.21.0
tomli==2.0.2
tomlkit==0.13.2
torchdiffeq==0.2.5
torchmetrics==0.6.0
torchsde==0.2.6
torchtext==0.6.0
tornado==6.4.2
tqdm==4.66.6
trainer==0.0.36
traitlets==5.14.3
trampoline==0.1.2
trio==0.25.1
trio-websocket==0.11.1
typer==0.15.1
typing_extensions==4.10.0
tzdata==2024.2
urllib3==2.2.3
utils==1.0.2
uv==0.5.14
uvicorn==0.28.1
wandb==0.16.6
watchfiles==1.0.3
wcwidth==0.2.13
websocket-client==1.8.0
websockets==11.0.3
Werkzeug==3.1.3
wrapt==1.16.0
wsproto
xformers --index-url https://download.pytorch.org/whl/cu124
yapf==0.43.0
yarl==1.9.11
zipp==3.21.0

torch --index-url https://download.pytorch.org/whl/cu124
torchvision --index-url https://download.pytorch.org/whl/cu124
torchaudio --index-url https://download.pytorch.org/whl/cu124
gradio
numpy
pandas
diffusers
transformers
