aichar~=0.5.1
tqdm~=4.66.2
torch==2.1.2
torchvision~=0.16.2
torchaudio~=2.1.2
torchtext==0.6.0
sdkit~=2.0.18
argparse~=1.4.0
ctransformers
langchain-community
langchain~=0.3.1
requests~=2.31.0
numpy~=1.23.5
beautifulsoup4~=4.12.2
diffusers~=0.30.3
Pillow~=9.5.0
onnxruntime~=1.17.1
pandas~=1.5.3
gradio~=3.41.2
soupsieve~=2.5
pip~=24.0
attrs~=23.2.0
distro~=1.9.0
wheel~=0.41.2
tornado~=6.4
Jinja2~=3.1.3
filelock~=3.13.1
gast~=0.5.4
h5py~=3.10.0
ipython~=8.22.2
wrapt~=1.16.0
typing_extensions~=4.10.0
anyio~=3.7.1
sniffio~=1.3.1
trio~=0.25.0
outcome~=1.3.0.post0
keras~=3.0.5
packaging~=23.2
rich~=13.7.1
scipy~=1.11.4
tensorflow~=2.16.1
namex~=0.0.7
Cython~=3.0.9
setuptools~=68.2.2
pytz~=2023.3
overrides~=7.7.0
cffi~=1.16.0
numba~=0.59.1
six~=1.16.0
einops~=0.3.0
psutil~=5.9.8
opencv-python~=4.6.0.66
basicsr~=1.4.2
facexlib~=0.2.5
gfpgan~=1.3.8
realesrgan~=0.3.0
transformers~=4.45.1
omegaconf~=2.1.1
picklescan~=0.0.12
matplotlib~=3.8.3
sympy~=1.11.1
astunparse~=1.6.3
safetensors~=0.4.5
onnx~=1.13.1
tensorboard~=2.16.2
colorama~=0.4.6
urllib3~=2.2.1
fsspec~=2024.2.0
httpx~=0.27.0
pydantic~=2.9.2
future~=0.18.3
fastapi~=0.110.0
starlette~=0.36.3
pydantic_core~=2.23.4
websockets~=11.0.3
orjson~=3.10.0
Deprecated~=1.2.14
PyYAML~=6.0.1
xformers~=0.0.25.post1
seaborn~=0.13.1
timm~=0.4.12
fairscale~=0.4.13
sentencepiece~=0.1.99
accelerate~=0.34.2
msgpack~=1.0.8
peft~=0.10.0
ftfy~=6.1.3
librosa~=0.10.0
torchsde~=0.2.5
deprecation~=2.1.0
langsmith~=0.1.130
openai~=1.13.3
lark~=1.1.5
SQLAlchemy~=2.0.23
exceptiongroup~=1.2.0
itsdangerous~=2.1.2
python-multipart~=0.0.6
termcolor~=2.4.0
regex~=2023.12.25
python-dateutil~=2.9.0.post0
datefinder~=0.7.3
zipp~=3.17.0
build~=1.2.1
flatbuffers~=24.3.7
tokenizers~=0.20.0
soundfile~=0.12.1
coloredlogs~=15.0.1
py-cpuinfo~=9.0.0
Werkzeug~=3.0.1
Markdown~=3.4.3
scikit-learn~=1.3.2
Pygments~=2.17.2
jieba~=0.42.1
nltk~=3.8.1
gdown~=5.1.0
uvicorn~=0.28.1
trainer~=0.0.36
platformdirs~=4.2.0
imagecaptioner~=0.4
tenacity~=8.2.3
jsonpatch~=1.33
aiohttp~=3.9.3
tomli~=2.0.1
python-dotenv~=1.0.1
wandb~=0.16.0
yarl~=1.9.4
tiktoken~=0.4.0
chromadb~=0.4.24
cloudpathlib~=0.16.0
selenium~=4.19.0